/* atributos */
:root {
  --colorFondo: #484a4a;
  --colorNav: #2b2b2b;
  --blanco: #fff;
  --letrasNav: #c7c6c6;
  --sombra: #151515;
  --fondoTransparente: #484a4abe;
  --tamTituloFiltros: 2rem;
  --tamOpcionesFiltros: 1.5rem;
  --tamFiltrosSeleccionados: 3rem;
  --sumarChecket: 3rem;
  --celeste: #1c9a8b;
}


* {
  margin: 0%;
  padding: 0%;
}
html {
  height: 100vh;
  /* width: 100vw; hace que ocupe lo de la barra lateral mas y por ende se crea una barra en la parte de abajo */
  font-family: "Imprima", sans-serif;
}
body {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%; /* si le coloco 100vw me crea un scroll en la parte de abajo */
  background-color: var(--colorFondo);
}
header {
  width: 100%;
  height: 15.5%;
}
ul {
  list-style-type: none;
}
.mainIndex {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0%;
  gap: 3rem;
}

img {
  opacity: 0.85;
}
/*-------------------- NAV --------------------------*/
nav {
  display: flex;
  height: 7rem;
  width: 100%;
  background-color: var(--colorNav);
}
img.navLogo {
  height: 100%;
  width: 20%;
  background-color: #000;
}
nav ul {
  display: flex;

  width: 80%;
  /* align-items: center; */ /* esto evita que tomen la altura de los elementos hermanos y se adapten al contenido */
  flex-wrap: wrap;
}
nav ul li a,
nav ul li label {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  padding: 0% auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav ul li {
  display: flex;
  flex-grow: 1; /* para todos los elementos hijos ocupen todo el espacio horizontal sobrante */
}
nav ul li.ordenSuperior {
  order: 1;
}
/* intento fallido de querer subir los enlaces a la par de los subenlaces */
/* .alturaEnlacesNav{
   height: 100%;
} */
nav ul li a:active {
  text-decoration: underline;
}
/* nav ul li ~ .alturaEnlacesNav{
  height: 70%;
} */
nav ul li a:hover,
.enlacesPortada:hover,
.filtros h2:hover,
.filtros ul li label:hover,
nav ul li label:hover {
  text-shadow: 0.125rem 0.125rem 0.188rem var(--sombra);
  color: var(--letrasNav);
  background-color: var(--colorFondo);
  cursor: pointer;
}
/*........ subenlaces ........ */

header nav ul {
  position: relative;
  overflow: hidden;
}
.navSubEnlaces li:hover {
  box-shadow: 0 -1px 2.438rem var(--sombra);
}
.navSubEnlaces {
  position: absolute;
  top: 100%;
  display: flex;
  width: 100%;
  height: 30%;
  background-color: var(--colorFondo);
  /* la animacion solo hace el efecto de las propiedades del hover */
  transition: 0.5s ease;
}
nav ul .misProyectos:hover ~ .navSubEnlaces,/* para mostrar los subs enlace posicionar mi puntero sobre los enlaces del nav*/
.navSubEnlaces:hover/* para que los subenlaces no desaparescan al sacar el maus de los enlaces y posicionarlos sobre los subenlaces */ {
  /* transition puede estar tanto aqui como en la clase sin hover */
  /* transition: 0.5s ease; */
  top: 70%;
}
/* al superponerse los objetos el enlace que se sobrepone sobre el otro es el que este mas abajo en el codigo HTML a menos que se aplique un z-index */
/* .misProyectos{
  z-index: 4;
} */
/* -------------- FOTER -------------- */
footer {
  display: flex;
  background-color: var(--colorNav);
  width: 100vw;
  height: 7vw;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}
div.footer-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}
.footer-redes a {
  text-decoration: none;
  color: var(--colorFondo);
  text-shadow: 0.125rem 0.125rem 0.188rem var(--sombra);
}
.footer-redes a:hover {
  color: var(--celeste);
  transition: 0.7s ease-in-out;
}
/*------------- ESTILO PARA LA PAGINA AYUDA ----------------*/
.main-ayuda {
  display: flex;
  width: 100%;
  height: 84.5%;
  align-items: center;
  justify-content: space-around;
}
.indexAyuda {
  width: 20%;
  height: 90%;
  background-color: var(--colorNav);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  /*   overflow-y: scroll; */
}
.opcionAyuda {
  display: flex;
  height: 100rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.opcionAyuda:hover,
.opcionAyuda:checked {
  background-color: var(--celeste);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#ayuda1:checked ~ .indexAyuda [for="ayuda1"],
#ayuda2:checked ~ .indexAyuda [for="ayuda2"],
#ayuda3:checked ~ .indexAyuda [for="ayuda3"],
#ayuda4:checked ~ .indexAyuda [for="ayuda4"],
#ayuda5:checked ~ .indexAyuda [for="ayuda5"],
#ayuda6:checked ~ .indexAyuda [for="ayuda6"],
#ayuda7:checked ~ .indexAyuda [for="ayuda7"],
#ayuda8:checked ~ .indexAyuda [for="ayuda8"],
#ayuda9:checked ~ .indexAyuda [for="ayuda9"],
#ayuda10:checked ~ .indexAyuda [for="ayuda10"] {
  background-color: var(--celeste);
}
.contenidosAyudas {
  height: 100%;
  width: 75%;

  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.cajaAyuda {
  background-color: var(--sombra);
  position: absolute;
  height: 100%;
  width: 90%;
  color: var(--letrasNav);
  font-size: 2rem;
  padding: 0% 2rem;
  left: 100%;
}
#ayuda1:checked ~ .contenidosAyudas .ayuda1,
#ayuda2:checked ~ .contenidosAyudas .ayuda2,
#ayuda3:checked ~ .contenidosAyudas .ayuda3,
#ayuda4:checked ~ .contenidosAyudas .ayuda4,
#ayuda5:checked ~ .contenidosAyudas .ayuda5,
#ayuda6:checked ~ .contenidosAyudas .ayuda6,
#ayuda7:checked ~ .contenidosAyudas .ayuda7,
#ayuda8:checked ~ .contenidosAyudas .ayuda8,
#ayuda9:checked ~ .contenidosAyudas .ayuda9,
#ayuda10:checked ~ .contenidosAyudas .ayuda10
{
  left: 0%;
  transition: 1s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}
.cajaAyuda p {
  font-size: 1.2rem;
}
/*------------- ESTILO PARA LA PAGINA PROYECTOS -------------*/
/* el estilo de las caljas esta en la parte de index */

.main-proyectos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 3rem 0%;
}
input[type="radio"] {
  display: none;
}
input[type="checkbox"] {
  display: none;
}

[value="sumar"]:checked
  ~ section
  .cardsProyectos
  .card:not([data-category~="sumar"]),
[value="restar"]:checked
  ~ section
  .cardsProyectos
  .card:not([data-category~="restar"]),
[value="dividir"]:checked
  ~ section
  .cardsProyectos
  .card:not([data-category~="dividir"]),
[value="multiplicar"]:checked
  ~ section
  .cardsProyectos
  .card:not([data-category~="multiplicar"]) {
  display: none;
}
/* para que todas las cards se muestren */
/* cuado selecciones all se muestre todo */
/* "[value="All"]:checked" indica "cuando le des click..." */
/* "~ .posts [data-category]" */
[value="todos"]:checked ~ .filtros .filtros ol [data-category] {
  display: block; /* para que se muestren todos los elementos nuevamente */
}

/* ......... seccion de filtros ......... */
/* las demas opciones */

.seccionfiltros {
  gap: 1rem;
  color: var(--blanco);
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: var(--colorNav);
  border-radius: 0.4rem;
  position: relative;
}
.seccionfiltros div {
  width: 100%;
  text-align: center;
}
.filtros,
.filtrosSeleccionados {
  border-radius: 3rem;
  height: 2rem;
  overflow: hidden;
  background-color: var(--colorFondo);
  transition: 1s ease; /* coloque una tancicion aca tambien caundo le de click otra ves la caja tenga el efento suabe del cierre de caja */
}
.filtrosSeleccionados {
  height: auto;
}
.filtros h2 {
  height: var(--tamTituloFiltros);
}
.filtros ul li label {
  display: block;
  height: var(--tamOpcionesFiltros);
}

.filtros ul li:hover {
  border-bottom: solid 0.25rem var(--celeste);
}
/* amplia la caja de los filtros */
[value="temas"]:checked ~ .filtroTemas,
[value="autores"]:checked ~ .filtroAutor {
  height: calc(var(--tamTituloFiltros) + var(--tamOpcionesFiltros) * 5);
  border-radius: 1.7rem;
  padding-bottom: 0.25rem;
  transition: 1s ease;
}
/* colorea los titulos de los filtros */
[value="temas"]:checked ~ .filtroTemas h2,
[value="autores"]:checked ~ .filtroAutor h2 {
  color: var(--celeste);
  transition: 1s ease;
}
/* li[class="sumar"] : selecciona selecciona a el elemtenro que tiene como atrivuto "class" y valor "sumar"*/
[value="sumar"]:checked ~ .seccionfiltros .filtros ul li label[for="sumar"],
[value="multiplicar"]:checked
  ~ .seccionfiltros
  .filtros
  ul
  li
  label[for="multiplicar"],
[value="dividir"]:checked ~ .seccionfiltros .filtros ul li label[for="dividir"],
[value="restar"]:checked ~ .seccionfiltros .filtros ul li label[for="restar"] {
  display: none;
}
[name="temas"]:checked ~ .seccionfiltros .filtros ul li label {
  display: block;
}

[name="temas"]:checked ~ .seccionfiltros .filtros ul li {
}
/* para esconder y mostrar los filtros seleccionados */
.filtrosSeleccionados ul li label {
  display: none;
}
[value="sumar"]:checked
  ~ .seccionfiltros
  .filtrosSeleccionados
  ul
  li
  [for="sumar"],
[value="dividir"]:checked
  ~ .seccionfiltros
  .filtrosSeleccionados
  ul
  li
  [for="dividir"],
[value="multiplicar"]:checked
  ~ .seccionfiltros
  .filtrosSeleccionados
  ul
  li
  [for="multiplicar"],
[value="restar"]:checked
  ~ .seccionfiltros
  .filtrosSeleccionados
  ul
  li
  [for="restar"] {
  display: block;
}
/* intento: para que la caja se achique cada ves que hago una seleccion */
/* [value="sumar"]:checked ~ .seccionfiltros .filtros{
  height: auto;
} */
/* decoracion al dar click a las opciones
[value="All"]:checked ~ .filters [for="All"],
[value="matematicas"]:checked ~ .filters [for="matematicas"] {
  background: var(--green);
  color: var(--white);
} */

/* ------------- LOGIN REGISTER ------------------ */
/* oculta el modal */
#btn-hinden-modal:checked ~ .container-modal {
  display: none;
}

.container-modal > label {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container-modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--fondoTransparente);
  z-index: 20;
  align-items: center;
  justify-content: center;
}
.container {
  z-index: 22;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7;
  color: #c4c3ca;
  overflow: hidden;
  background-color: #1f2029;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}
.container > label[for="btn-hinden-modal"] {
  font-size: 2rem;
  position: absolute;
  right: 4%;
  top: 2%;
}
.container > label[for="btn-hinden-modal"]:hover {
  color: #bb4040;
  cursor: pointer;
}
a {
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-size: 0.875rem;
  line-height: 1.7;
}
.container > h6 {
  position: relative;
  font-size: 1rem;
  left: 1rem;
}
h6 {
  text-align: center;
}
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
}

.container [type="checkbox"]:checked,
.container [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
/* barra amarilla donde gira el circulo */
#btn-login-modal:checked ~ .container-modal label[for="btn-rodante"],
#btn-register-modal:checked ~ .container-modal label[for="btn-rodante"] {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
/* flecha circular */
#btn-register-modal:checked ~ .container-modal label[for="btn-rodante"] i,
#btn-login-modal:checked ~ .container-modal label[for="btn-rodante"] i {
  position: absolute;
  z-index: 20;
  bottom: -40%;
  left: -10%;
  border-radius: 50%;
  transform: rotate(-45deg);
  color: #2229a8;
  font-size: 1.7rem;
  transition: 0.5s ease;
}
/* despaza y rota la flecha redondeada */
#btn-rodante:checked ~ .container-modal label[for="btn-rodante"] i {
  transform: translateX(2.75rem) rotate(-315deg);
}

.card-3d-wrap {
  width: 27.5rem;
  max-width: 100%;
  height: 25rem;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  /* transicion del giro del form */
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
/* rota para atras la  */
.card-back {
  transform: rotateY(180deg);
}
#btn-rodante:checked ~ .container-modal .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
/* #btn-register-modal:checked ~ .container-modal .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
} */
.center-wrap {
  display: flex;
  width: 100%;
  /* al darle valor en el eje z, estoy haciendo que el form tenga parte trasera, la parte del crad-back y card.front se vea uno ensima del otro  */
  transform: translate3d(0, 0, 2.188rem);
  z-index: 20;
  height: 100%;
}
/* estilo del formulario */
.form-style {
  padding: 0.4rem 2rem;
  height: 2rem;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
.form div {
  overflow: hidden;
  position: relative;
  width: 70%;
}
.form div label {
  position: absolute;
  top: 23%;
  left: 3%;
  color: #ffeba7;
}
.form div i:hover {
  cursor: pointer;
  color: var(--celeste);
  transition: 0.5s ease;
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 #15151533;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600; /* grosor de las letras */
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 #ffeba733;
}
.btn:active,
.btn:focus,
.btn:hover {
  background-color: var(--celeste);
  color: var(--colorNav);
  box-shadow: 0 8px 24px 0 #10277033;
}
/* la opcaidad de lo que indica que tiene que ingresar */
.form div input::placeholder {
  color: #c4c3ca;
  opacity: 0.4;
  transition: all 200ms linear;
}
/* para que desaparesca lo que indica que tiene que ingresar en cada imput */
.form input:focus::placeholder {
  opacity: 0;
  transition: all 200ms linear;
}

/*-------------------------- INDEX --------------------------*/
/* Portada index */

.proyectos {
  width: 80%;
}
.portada {
  height: 600px;
  overflow: hidden;
  box-shadow: 0 19px 38px var(--sombra);
}
.descripcionPagina a {
  text-decoration: none;
}
.descripcionPagina {
  position: relative;
  bottom: 900px;
  left: 200px;
  width: 600px;
  background-color: var(--fondoTransparente);
  font-size: x-large;
  border-radius: 2rem;
  padding: 2vw;
}
.descripcionPagina h2 {
  margin-bottom: 1rem;
}
.descripcionPagina .enlacesPortada {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--fondoTransparente);
  color: var(--blanco);
}
/* animacion texto portada */

.output {
  text-align: center;
  color: var(--letrasNav);
}
.output h1 {
  font-size: 1.4rem;
}
/* Cursor Styling */
.cursor::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  background-color: var(--colorNav);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height: 24px;
  width: 13px;
}
h2.cursor::after {
  height: 24px;
  width: 13px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Cards Index  */
.cardsProyectos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(
    3,
    auto
  ); /* al colocar auto permite que los espacios contenedores del grid se ajusten al pasar el maus por ensima */
  gap: 0.5rem;
  overflow: hidden;
  justify-items: center;
}
.card {
  transition: 400ms all;
}
.card:hover {
  transform: scale(1.25); /* agranda la caja en eje x e y*/
  margin: 3rem;
  z-index: 2;
}
.card .wrapper {
  border: solid var(--colorNav) 1px;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px var(--sombra);
}

.card .wrapper:hover .text {
  display: block;
}
.card .wrapper:hover {
  height: 400px;
}
.card .data {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background-color: var(--fondoTransparente);
}
.card .data .content {
  padding: 0.25em 1em;
  position: relative;
  z-index: 1;
  border-top: solid var(--colorNav);
}
.card .author {
  color: var(--blanco);
  font-size: 12px;
}
.tituloIndex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card .title {
  color: var(--letrasNav);
  margin-top: 0.25em;
  font-size: larger;
}
hr {
  width: 90%;
}
.card .text {
  color: var(--blanco);
  height: 70px;
  margin: 0;
  display: none;
}
h1 {
  text-align: center;
  width: 100%;
}

.card .wrapper {
  background: url(https://picsum.photos/300/300) center / cover no-repeat;
}

/* ---------------------------------------------------------------- */
/* https://www.educaciontrespuntocero.com/recursos/plataformas-para-aprender-jugando/#Ta-Tum */
/* https://www.cokitos.com/category/juegos-para-adultos-online/ */
/* Hasta mi última actualización en enero de 2022, no tengo acceso a información en tiempo real ni puedo navegar por internet, por lo que no puedo proporcionar una lista actualizada de páginas web similares a https://www.cokitos.com/.

Sin embargo, puedo sugerirte algunos tipos de sitios web que podrían ofrecer actividades educativas y juegos para niños, que podrían ser similares al enlace que proporcionaste:

Sitios Educativos para Niños:

ABCmouse (https://www.abcmouse.com/)
PBS Kids (https://pbskids.org/)
Funbrain (https://www.funbrain.com/)
Plataformas Educativas Interactivas:

Khan Academy Kids (https://khankids.zendesk.com/hc/en-us)
Starfall (https://www.starfall.com/)
Juegos Educativos:

Coolmath Games (https://www.coolmathgames.com/)
National Geographic Kids (https://kids.nationalgeographic.com/)
Recursos Educativos para Niños:	

Education.com (https://www.education.com/)
ABCya! (https://www.abcya.com/)
Recuerda siempre revisar las políticas de privacidad y la calidad del contenido antes de permitir que los niños utilicen cualquier sitio web. Además, ten en cuenta que la disponibilidad y popularidad de sitios web pueden cambiar con el tiempo. Te recomendaría hacer una búsqueda actualizada para encontrar opciones más recientes y específicas para las necesidades de aprendizaje de tus niños.

https://arbolabc.com/
 */
/* toggle  */
/* el <link> de la fuente de google fonds va antes de el <link> de css */
/* content on data solo para  */
/* .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
 */
